@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("normalize.css");
@import url("../style/reset.css");
/* ------------------------------------------------ */
html,
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(113deg, #fff 0.28%, #292929 178.65%);
  color: #000;
  font-family: Poppins;
  font-size: 20px;
}

[class*="__container"] {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1087px) {
  [class*="__container"] {
    max-width: 970px;
  }
}
/* ------------------------------------------------ */
.header__container {
  padding: 63px 15px 50px 15px;
}
.header__content {
  display: flex;
}
.header__switch {
  flex: 0 1 10%;
  margin-right: 80px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 99.01px;
  height: 37.985px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d9d9d9;
  border: 1px solid #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider::before {
  position: absolute;
  content: "";
  height: 29.516px;
  width: 29.703px;
  left: 10px;
  bottom: 4px;
  background-color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider::before {
  -webkit-transform: translateX(47px);
  -ms-transform: translateX(47px);
  transform: translateX(47px);
}
.slider.round {
  border-radius: 40px;
}
.slider.round::before {
  border-radius: 50%;
}
.switch-text {
  font-size: 18px;
  font-weight: 800;
  margin-top: 0;
}
/* ------------------------------------------------ */
.header__search {
  flex: 0 1 50%;
  margin-left: auto;
  width: 803px;
  height: 62px;
  border-radius: 40px;
  border: 1px solid #000;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  transition: 0.5s;
}
.header__search:hover {
  transition: 0.5s;
  background: #efefef;
  transform: scale(1.05);
}
.search-btn {
  background-image: url(../weather/images/searchicon.png);
  background-size: 40px;
  width: 40px;
  height: 46px;
  position: absolute;
  left: 35px;
  top: 8px;
  cursor: pointer;
}
.searchbar input {
  border-radius: 40px;
  width: 100%;
  background: #d9d9d9;
  padding: 15px;
}
input::placeholder {
  color: #292929;
  font-size: 18px;
}
.searchbar {
  width: 100%;
  padding: 17px 15px 17px 102px;
}

/* ------------------------------------------------ */
.header__button {
  margin-left: 80px;
  width: 292px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: #4cbb17;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  padding: 15px;
}
.header__button:hover {
  transition: 0.5s;
  background: #378811;
  transform: scale(1.05);
}
.button-img {
  width: 35px;
  height: 35px;
}
.button-text {
  margin-left: 4px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 22px;
  font-weight: 800;
}
/* ------------------------------------------------ */
.section-one__content {
  display: flex;
}
.lock-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 510px;
  height: 330px;
  border-radius: 30px;
  background: #d9d9d9;
  margin-right: 5%;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: 0.5s;
}
.lock-screen:hover {
  transition: 0.5s;
  transform: scale(1.05);
}
.weather-details {
  width: 780px;
  height: 330px;
  border-radius: 30px;
  background: #d9d9d9;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: 0.5s;
}
.weather-details:hover {
  transition: 0.5s;
  transform: scale(1.05);
}
.weather-details-type {
  flex: 1 0 33%;
}
.weather-details-temperature {
  flex: 1 0 33%;
}
/* ------------------------------------------------ */
.location {
  color: #292929;
  font-size: 36px;
  font-weight: 700;
  margin: 53px 0 29px 0;
}
.time {
  color: #292929;
  font-size: 96px;
  font-weight: 700;
}
.day {
  margin: 0;
  color: #292929;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  bottom: 48px;
}
/* ------------------------------------------------ */
.weather-details {
  display: flex;
  padding: 20px 20px;
}
.degrees {
  font-size: 80px;
  font-weight: 700;
  background: linear-gradient(
    80deg,
    #292929 -2.93%,
    rgba(255, 255, 255, 0) 212.44%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feels {
  color: #292929;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 113px;
}
.feels span {
  color: #292929;
  font-size: 32px;
  font-weight: 700;
  vertical-align: middle;
}
/* ------------------------------------------------ */
.sun__content {
  margin-top: 36px;
  margin-left: 20px;
}
.sunrise {
  background-image: url(../images/sunrise.png);
  background-size: 48px;
  background-repeat: no-repeat;
  background-position-y: center;
  padding: 5px 58px;
}
.sunset {
  background-image: url(../images/sunset.png);
  background-size: 48px;
  background-repeat: no-repeat;
  background-position-y: center;
  padding: 5px 58px;
}
.sun__title {
  color: #292929;
  font-size: 20px;
  font-weight: 700;
}
.sun__time {
  font-size: 16px;
  font-weight: 600;
}
/* ------------------------------------------------ */
.weather-type__image {
  width: 240px;
  height: 240px;
  background: url(../images/sun.png), 50% / cover no-repeat;
  background-size: contain;
}
.weather-type__text {
  color: #292929;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}
/* ------------------------------------------------ */
.weather-details-other {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  flex: 0 2 50%;
  padding: 0 0 0 15px;
}
.uv,
.pressure,
.wind-speed,
.humidity {
  width: 115px;
}
.other-block__image {
  width: 60px;
  height: 50.127px;
  margin: 0 auto;
}
.other-block__value {
  color: #292929;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
.other-block__text {
  color: #292929;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-top: 18px;
}
.other-block {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  flex-grow: 1;
}
/* ------------------------------------------------ */
.section-two {
  margin-top: 50px;
}
.section-two__content {
  display: flex;
}
.forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 414px;
  height: 366px;
  margin-right: 60px;
  border-radius: 30px;
  background: #d9d9d9;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.forecast:hover {
  transition: 0.5s;
  transform: scale(1.05);
}
.hourly-forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 13px 0;
  width: 870px;
  height: 366px;
  border-radius: 30px;
  background: #d9d9d9;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.hourly-forecast:hover {
  transition: 0.5s;
  transform: scale(1.05);
}
/* ------------------------------------------------ */
.forecast__title {
  color: #292929;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}
.forecast-list__item {
  display: flex;
  align-items: center;
}
/* ------------------------------------------------ */
.list__title {
  color: #292929;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.forecast-list__title {
  color: #292929;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding: 0 24px;
}
.list__text {
  color: #292929;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
/* ------------------------------------------------ */
.hourly-forecast__list {
  display: flex;
  justify-content: space-around;
  padding-top: 3%;
}
.hourly-forecast-list__item {
  flex: 0 0 20%;
  width: 130px;
  height: 270px;
  border-radius: 40px;
  padding: 15px;
  background: linear-gradient(
    171deg,
    #f88508 -12.41%,
    rgba(246, 250, 217, 0) 163.32%
  );
}
.hourly-forecast-list__item:not(:last-child) {
  margin-right: 2%;
}
.list-item__night {
  background: linear-gradient(
    174deg,
    #443d64 -15.92%,
    rgba(101, 130, 198, 0) 192.45%
  );
}
/* ------------------------------------------------ */
.list-weather__image {
  width: 80px;
  height: 80px;
  margin: 0 10px;
}
.list-navigation__image {
  width: 55px;
  height: 55px;
  margin: 0 22.5px;
}
/* ------------------------------------------------ */
.forecast-list__image {
  width: 60px;
  height: 60px;
}

@media (max-width: 1150px) {
  [class*="__container"] {
    max-width: 750px;
  }

  .section-one__content {
    display: block;
  }

  .section-two__content {
    display: block;
  }

  .lock-screen,
  .weather-details,
  .forecast,
  .hourly-forecast {
    width: 100%;
    margin-bottom: 50px;
  }

  .header__button {
    text-align: center;
  }

  .search-btn {
    left: 15px;
  }
  .searchbar {
    width: 100%;
    padding: 17px 15px 17px 77px;
  }
  .forecast-list__title {
    padding: 0 50px;
  }

  html,
  body {
    height: max-content;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }

  .header__switch {
    margin-right: 30px;
  }
  .switch-text {
    font-size: 16px;
  }
  .header__search {
    flex: 0 1 70%;
  }
  .header__button {
    margin-left: 30px;
  }

  .section-one__content {
    display: block;
  }

  .section-two__content {
    display: block;
  }

  .weather-type__image {
    width: 180px;
    height: 180px;
  }

  .lock-screen,
  .weather-details,
  .forecast,
  .hourly-forecast {
    width: 100%;
    margin-bottom: 50px;
  }

  .degrees {
    font-size: 60px;
  }
  .feels {
    font-size: 15px;
    top: 95px;
  }
  .feels span {
    color: #292929;
    font-size: 27px;
  }

  .sun__content {
    margin-top: 50px;
    margin-left: 10px;
  }
  .sunrise,
  .sunset {
    padding: 5px 0 5px 58px;
  }

  .uv,
  .pressure,
  .wind-speed,
  .humidity {
    width: 70px;
  }
  .other-block__image {
    width: 55px;
    height: 45.127px;
    margin: 0 auto;
  }
  .other-block__text {
    margin-top: 10px;
  }

  .hourly-forecast-list__item {
    flex: 0 0 15%;
    width: 100%;
    height: 270px;
    padding: 15px;
  }

  .list-weather__image {
    width: 70px;
    height: 70px;
    margin: 0;
  }
  .list-navigation__image {
    width: 55px;
    height: 55px;
    margin: 5px;
  }

  .list__title {
    font-size: 20px;
    font-weight: 700;
  }
  .forecast-list__title {
    padding: 0 50px;
  }

  html,
  body {
    height: max-content;
  }
}
